.container_menu {
    background-color: rgb(52, 57, 63);
    height: 80px;
    margin: 0rem 1rem 0rem 1rem;
    padding: 0;
}
    
.menu {
    display: inline-flex;
  }

.logo{
    width: 90px;
    height: 60px;
    margin-top: .5rem;
    margin-left: 5rem;    
}

.nav_izquierda {
    color: white;
    font-weight: bold;
    align-items: center;
    padding-top: 0.4rem;
    margin: 1rem 12rem 1rem 1rem;
    font-size: 16px;
}

.nav_derecha {
    display: inline-flex;
    list-style-type: none;
    font-size: 16px;
    color: grey
    }
.nav_derecha > li{
    margin-right: 2rem;
    padding-top: 1.4rem;
}

.nav_derecha > li > a{
    font-weight: bold;
    text-decoration: none;
    color: grey;    
}

.nav_derecha > li > a:hover {
    color: white;
}

.cont_img {
    margin:0rem 1rem;
    position: relative;
    display: inline-block;
    
       
}

img {
    max-width: 100%;
    max-height: 100%; 
}

.cont_info {
    position: absolute;
    top: 25rem;
    bottom: 11rem;
    right: 8rem;
    left: 40rem;
    bottom: 0rem;
    text-align: right;    
}

.titulo_info {
    color: white;
    font-size: 40px;
    font: bold;
}
.info {
    color: white;
    font:bold;   
}

.btn1 {
    border-radius: .5rem;
    border-color: white;
    margin-right: .5rem;
    background-color: transparent;
    color: white;
    padding: .6rem;
    font: bold;

}
.btn2 {
    border-radius: 0.5rem;
    border-color:transparent;
    background-color: rgb(42, 167, 67);
    color:white;
    padding: .6rem;
    font: bold;
}

.tt_orador {
    justify-content: center;
    text-align: center;
    margin: 0px;
    margin: 0rem 1rem;
}

.tt_1 {
    color:gray;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 0;
}
.tt_2 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 0;
    
}
.oradores {
    display: inline-flex;
    margin: 0rem 1rem;
         
}

.steve_boton  {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: .7rem;     
}
.bill_boton {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: .7rem; 
}
.ada_boton {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: .7rem; 
}

.js_bt {
    background-color: yellow;
    border: none;
    font-weight: bold;  
    border-radius: .3rem;    
}
.react_bt {
    background-color: aqua;
    border:none;
    font-weight: bold;
    border-radius: .3rem;    
}

.negocios_bt {
    background-color: grey;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: .3rem;
}

.star_bt {
    color:white;
    border: none;
    background-color: brown;
    border-radius: .3rem;

}
.steve_jobs {
    height: 100%;
    width: 30%;
    margin: .5rem 1rem 0rem 15rem;
    
}

.bill_gates {
    height: 100%;
    width: 30%;
    margin: .5rem 1rem 0rem 1rem;   
}
.ada_lovelace {
    height: 100%;
    width: 30%;
    margin: .5rem 15rem 0rem 1rem;  
}

.oradores > h4{
    font: bold;
}

.titulo_orador {
    margin-left: 1rem;
}

.text_orador {
    margin-left: 1rem;
    font-size: .9rem;
}